name: release-images

on:
  schedule:
    - cron: '0 2 1 * *'  # Monthly
  workflow_dispatch:

env:
  PANTS_CONFIG_FILES: pants.ci.toml

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set version
        id: version
        run: |
          VERSION="$(date +"%Y%m%d")"
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Configure Pants caching to GitHub Actions Cache
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('PANTS_REMOTE_STORE_ADDRESS', process.env.ACTIONS_CACHE_URL);
            core.exportVariable('PANTS_REMOTE_OAUTH_BEARER_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN);
      - name: Install Pants
        run: curl --proto '=https' --tlsv1.2 -fsSL https://static.pantsbuild.org/setup/get-pants.sh | bash
      - name: Build Images
        run: pants run scripts:build
      - uses: actions/upload-artifact@v4
        with:
          name: Vendored Images ${{ steps.version.outputs.version }}
          path: |
            scripts/orbitlab-debian-13-amd64-${{ steps.version.outputs.version }}.qcow2
            scripts/orbitlab-debian-13-amd64-${{ steps.version.outputs.version }}.qcow2.sha256
